<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
      {% if id == None %}
      <H1>States</H1>
      <UL>
        {% for state in my_dict.values()|sort(attribute='name') %}
        <LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
        {% endfor %}
      </UL>
      {% else %}
      {% set key = "State." + id|string %}
      {% if key in my_dict %}
      <H1>States: {{ my_dict[key].name }}</H1>
      <H3>Cities:</H3>
      <UL>
        {% for city in my_dict[key].cities|sort(attribute='name') %}
	<LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
	{% endfor %}
      </UL>
      {% else %}
      <H1>Not found!</H1>
      {% endif %}
      {% endif %}
    </BODY>
</HTML>
